*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest*.toml
/docs/Manifest*.toml
/docs/build/
/docs/src/index.md
/.vscode
/examples/Manifest*.toml
.JuliaFormatter.toml
*.bson
trained_model.bson
/examples/models/
.DS_Store